PUBLIC_SUPABASE_URL=https://aaflrqcpyusowtvxmtug.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhZmxycWNweXVzb3d0dnhtdHVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU0NjQzMDgsImV4cCI6MjA1MTA0MDMwOH0.tpvSFlo3-q7UQAlNVJJqnAVUbciBn5CDV7DSAUo25-s